<!DOCTYPE html>
<html ng-app="familyTreeApp">
	<head>
		<title>Brandcast Challenge</title>
		<!-- External Script Libraries -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-resource.js"></script>
		<!-- Base Scripts -->
		<script type="text/javascript" src="app/app.js"></script>
		<script type='text/javascript' src='app/familytree-ctrl.js'></script>
	</head>
	<body ng-controller="FamilyTreeController">
		<img src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=81484139" alt="Stark Banner">
		<h1>Stark Family Tree</h1>
		<div ng-include src="'familyMember'"></div>

		<script type="text/ng-template" id="familyMember">
			<div ng-repeat="member in familymembers">
				<ul>
					<li ng-repeat="description in member.descriptions">
						{{description.key}}: {{description.val}}
					</li>
					<ul>
						<li>
							<div ng-include src="'familyMember'" ng-init="familymembers = member.children"></div>
						</li>
					</ul>
				</ul>
			</div>
		</script>
	</body>
</html>